*{
  background-color: #D8D7FE;
  box-sizing: border-box;
  font-family: 'Reem Kufi Ink';
}

header {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  background-color: #B477BB;
  border-radius: 1vw;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.5vw;
  height: 4vw;
  width: 15vw;
}

button:hover {
  background-color: #81518F;
}

.view {
  display: flex;
  min-height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.login-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.name-title, .emoji-title {
  font-size: 2vw;
}

#name-input {
  border-radius: 1vw;
  border: .3vw solid #81518F;
  font-size: 1.5vw;
  height: 4vw;
  width: 18vw;
  text-align: center;
}

.emoji-container {
  display: flex;
  flex-direction: column;
}

.emoji-row1, .emoji-row2, {
  display: flex;
  justify-content: space-around;
}

.emoji {
  cursor: pointer;
  font-size: 3vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.emoji:hover {
  font-size: 4vw;
}

.classic-container {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  width: 75%;
}

#rock {
  cursor: pointer;
  height:18vw;
  width: 18vw;
}

#rock:hover {
  height: 19vw;
  width: 19vw;
}

#paper, #scissors {
  cursor: pointer;
  height: 20vw;
  width: 20vw;
}

#paper:hover, #scissors:hover {
  height: 21vw;
  width: 21vw;
}

.elemental-container {
  display: flex;
  justify-content: center;
  margin-top: none;
  width: 75%;
}

.elemental-rows {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#elemental-row1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: none;
}

#elemental-row2 {
  display: flex;
  justify-content: center;
  margin-top: none;
  margin-bottom: 6vw;
}

#elemental-row3 {
  display: flex;
  justify-content: center;
}

#fire, #water, #grass, #ice, #stone {
  cursor: pointer;
  height: 12vw;
  width: 12vw;
}

#fire:hover, #water:hover, #grass:hover, #ice:hover, #stone:hover {
  height: 13vw;
  width: 13vw;
}

#water, #grass {
  margin-left: 9vw;
  margin-right: 9vw;
}

#ice, #stone {
  margin-left: 3vw;
  margin-right: 3vw;
}

.right-container {
  display: flex;
  align-items: center;
  background-color: #D7F8F4;
  flex-direction: column;
  width: 25%;
  border-top-left-radius: 4vw 4vw;
}

.player-tab {
  display: flex;
  align-items: center;
  background-color: #D7F8F4;
  border-top-left-radius: 80px 80px;
  flex-direction: column;
}

#player1-wins {
  margin-top: .5vw;
  margin-bottom: 0vw;
}

#player2-wins {
  margin-top: .5vw;
  margin-bottom: 20px;
}

.player-header {
  background-color: #D7F8F4;
}

.player-wins {
  background-color: #D7F8F4;
  margin-bottom: 50px;
}

.reset-button {
  margin-bottom: 20px;
}

.classic-diagram, .elemental-diagram {
  background-color: #D7F8F4;
  height: 20vw;
  margin-top: 10px;
  width: 20vw;
}

.fight-container {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  width: 75%;
}

.chosen-image {
  height: 18vw;
  width: 18vw;
}

.vs {
  font-size: 4vw;
  margin-top: 7vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.hidden {
  display: none;
}
